*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(120deg, #f6d365, #d88771);
    min-height: 100vh;
}

header {

    font-size: 1.5rem;
    color: white;
}

header, form{

    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
}

form input, button{

    font-size: 1.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1rem;
}

form input{

    cursor: text;
}

button{

    background: white;
    color:#b15940;
}

button:hover{

    background: #b15940;
    color:white;    
}